* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: none;
}

html {
    background-color: #f5f5dc;
    scroll-behavior: smooth;
    width: 100vw;
}

body::-webkit-scrollbar {
    width: 20px;
    background: transparent;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #f5f5dc;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #b4b2a7;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}


#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(25, 25, 25, 0.5);
    background-size: 50vh;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    transition: 1s;
}

.container img {
    transition: 250ms;
}

.container img:not(.opisimg img, .opisimg2 img, .opisimg3 img, .opisimg4 img, .opisimggal img, .logo img):hover {
    box-shadow: 1px 1px 83px 16px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 1px 1px 83px 16px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 1px 1px 83px 16px rgba(0, 0, 0, 0.41);
}

[class^="cursor"] {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
    transition: 0s;
    pointer-events: none;
}


.cursor-outer {
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    transition: all .055s;
    border-style: solid;
    border-width: 0px;
    mix-blend-mode: difference;
    transition: transform .25s ease-in-out, background .45s ease-in-out, border-width 0.7s ease-out;
    
}

.cursor-outerlinks {
    transform: scale(150%) translate(-25%, -25%);
    background-color: transparent;
    border-color: #fff;
    border-width: 5px;
}


.cursor-outer-overhimg{
    transform: scale(250%) translate(-25%, -25%);
}

#menu img {
    transition: 200ms;
}

#menu img:hover {
    transform: scale(1.5);
}


body {
    margin: 0;
    padding: 0;
    width: 100vh;
    height: 100vw;
    background: linear-gradient(90deg, #fff 50%, #f5f5dc 50%);
    color: #252525;
}

h2,
h3,
h4 {
    font-family: 'Old Standard TT', serif;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    z-index: 4;
    width: 1000px;
    position: relative;
}


/* Menu sekcja 1 */

.toggle img {
    height: 100px;
    animation: logo-animation 2s;
}


.toggle {
    position: relative;
    width: 100px;
    height: 100px;
    top: 17px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    text-align: center;
    transition: 0.5s;
}

.toggle.active img {
    opacity: 1;
}

.toggle.active {
    background-image: black;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}

.showcase {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #f5f5dc;
    min-height: 100vh;
    transition: 0.5s;
    z-index: 2;
}



.showcase.active {
    left: 360px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 360px;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    width: 70%;
    position: absolute;
    line-height: 50px;
    padding: 0;
}

.menu ul li {
    list-style: none;
    transition: 500ms;
    color: #252525;
    font-weight: 700;

}

.menu ul li a {
    text-decoration: none;
    font-size: 30px;
    color: #252525;
    line-height: 50px;

}

.menu ul li a:hover {
    color: #800020;
}

.menu ul li:hover {
    position: relative;
    letter-spacing: 3px;
}




#menu {
    width: 100%;
    height: 200px;
    margin: 0;
}

@keyframes logo-animation {
    from {
        opacity: 0;
        filter: blur(10px);
        transform: rotate(-180deg);
        transform: translateX(-50vh);
    }

    50% {
        transform: rotate(-90deg);
    }

    to {
        opacity: 1;
        filter: blur(0);
        transform: rotate(0);
        transform: translateX(0);
    }
}


/* Sekcja pierwsza Opis */

@keyframes slide-in {
    from {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-10vw);
        transition: all 1s;
    }

    to {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

@keyframes slide-in-r {
    from {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(10vw);
        transition: all 1s;
    }

    to {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}


.bgtitle1 {
    display: flex;
    justify-content: center;
    margin-top: -110px;
    z-index: -1;
    width: 1000px;
    position: absolute;
    font-size: 190px;
    font-weight: 900;
    color: #e4e4cb;

}

.info {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 650px;
    margin-bottom: 200px;
}

.img1 {
    animation: slide-in 2s both;
    float: left;
    height: 600px;
    width: 50%;
    margin: 0;
    padding: 0;
}

.img1 img {
    height: 500px;
    -webkit-box-shadow: 1px 0px 40px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 0px 40px -14px rgba(0, 0, 0, 1);
    box-shadow: 1px 0px 40px -14px rgba(0, 0, 0, 1);
}

.description1 {
    animation: slide-in-r 2s both;
    z-index: 5;
    float: left;
    width: 50%;
    height: 600px;
    margin: 0;
    padding: 0;
}

.title1 {
    width: 100%;
    height: 20%;
    margin: 0;
}

.title1 h1 {
    z-index: 5;
    font-size: 50px;
    width: 400px;
    font-family: 'Old Standard TT', serif;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.opisimg {
    padding: 0;
    margin: 0;
    height: 65%;
    text-align: left;
    float: left;
    margin-top: 58px;
    margin-right: 65px;
}

.opisimg img {
    margin: 0;
    padding: 0;
    height: 80%;
}

.opis {
    padding: 0;
    font-size: 21px;
    margin: 0;
    height: 65%;
    margin-top: 58px;
    font-family: 'Piazzolla', serif;
    font-weight: 600;
}

/* Sekcja druga biografia */


.bgtitle2 {
    display: flex;
    justify-content: center;
    z-index: -1;
    margin-top: -90px;
    width: 1000px;
    position: absolute;
    font-size: 150px;
    font-weight: 900;
    color: #e4e4cb;
}

.opisimg2 {
    padding: 0;
    margin: 0;
    height: 117%;
    text-align: left;
    float: left;
    margin-top: 58px;
}

.opisimg2 img {
    margin: 0;
    padding: 0;
    height: 100%;
    margin-left: -70px;
}

.biografia {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 1300px;
}


.title2 {
    width: 100%;
    height: 20%;
    margin: 0;

}

.title2 h1 {
    z-index: 5;
    font-size: 50px;
    width: 800px;
    font-family: 'Old Standard TT', serif;
    margin: 0;
    padding: 0;
}

.description2 {
    animation: slide-in cubic-bezier(0.57, 0.54, 0.54, 1.01) both;
    animation-timeline: view();
    animation-range: entry 55% cover 50%;
    z-index: 1;
    float: left;
    width: 50%;
    height: 600px;
    margin: 0;
    padding: 0;
}

.img2 {
    animation: slide-in-r cubic-bezier(0.57, 0.54, 0.54, 1.01) both;
    animation-timeline: view();
    animation-range: entry 75% cover 50%;
    text-align: right;
    float: left;
    height: 400px;
    width: 50%;
    margin: 0;
    padding: 0;
}

.img2 img {
    height: 400px;
    -webkit-box-shadow: 1px 0px 40px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 0px 40px -14px rgba(0, 0, 0, 1);
    box-shadow: 1px 0px 40px -14px rgba(0, 0, 0, 1);
}


.opis2 {
    font-family: 'Piazzolla', serif;
    font-weight: 600;
    padding: 0;
    font-size: 20px;
    margin: 0;
    height: 65%;
    margin-top: 58px;
}

.opis3 {
    animation: slide-in-r cubic-bezier(0.57, 0.54, 0.54, 1.01) both;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
    font-family: 'Piazzolla', serif;
    width: 45%;
    float: right;
    font-weight: 600;
    padding: 0;
    font-size: 20px;
    margin: 0;
    height: 65%;
    margin-top: 24px;
}


/* Sekcja trzecia hymn polski */

.bgtitle3 {
    margin-left: -110px;
    margin-top: -230px;
    display: flex;
    z-index: -1;
    margin-right: 50px;
    width: 1000px;
    position: absolute;
    font-size: 190px;
    font-weight: 900;
    color: #e4e4cb;
}

.hymn {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 1000px;
}

.img3 {
    animation: slide-in cubic-bezier(0.57, 0.54, 0.54, 1.01) both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    float: left;
    height: 600px;
    width: 50%;
    margin: 0;
    padding: 0;
}

.img3 img {
    height: 500px;
    -webkit-box-shadow: 1px 0px 40px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 0px 40px -14px rgba(0, 0, 0, 1);
    box-shadow: 1px 0px 40px -14px rgba(0, 0, 0, 1);
}

.description3 {
    animation: slide-in-r cubic-bezier(0.57, 0.54, 0.54, 1.01) both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    z-index: 5;
    float: left;
    width: 50%;
    height: 600px;
    margin: 0;
    padding: 0;
}

.title3 {
    width: 100%;
    height: 20%;
    margin: 0;
}

.title3 h1 {
    z-index: 5;
    font-size: 50px;
    width: 400px;
    font-family: 'Old Standard TT', serif;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.opisimg3 {
    width: 5%;
    padding: 0;
    margin: 0;
    height: 93.8%;
    text-align: left;
    float: left;
    margin-top: 58px;
    margin-right: 65px;
}

.opisimg3 img {
    margin: 0;
    padding: 0;
    height: 100%;
}

.opis4 {
    text-align: left;
    float: left;
    width: 410px;
    padding: 0;
    font-size: 20px;
    margin: 0;
    height: 100%;
    margin-top: 58px;
    font-family: 'Piazzolla', serif;
    font-weight: 600;
}

/* Sekcja czwarta szkoła w wieleniu */

.bgtitle4 {
    text-align: center;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    z-index: -1;
    margin-right: 50px;
    width: 1000px;
    position: absolute;
    font-size: 170px;
    font-weight: 900;
    color: #e4e4cb;
}

.wielen {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 1650px;
    margin-top: 290px;
}

.description4 {
    animation: slide-in cubic-bezier(0.57, 0.54, 0.54, 1.01) both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    z-index: 5;
    float: left;
    width: 50%;
    height: 600px;
    margin: 0;
    padding: 0;
}

.title4 {
    width: 100%;
    height: 20%;
    margin: 0;

}

.title4 h1 {
    z-index: 5;
    font-size: 50px;
    width: 800px;
    font-family: 'Old Standard TT', serif;
    margin: 0;
    padding: 0;
}

.opisimg4 {
    padding: 0;
    margin: 0;
    height: 83%;
    text-align: left;
    float: left;
    margin-top: 58px;
}

.opisimg4 img {
    margin: 0;
    padding: 0;
    height: 100%;
    margin-left: -70px;
}

.opis5 {
    font-family: 'Piazzolla', serif;
    font-weight: 600;
    padding: 0;
    font-size: 21px;
    margin: 0;
    float: left;
    margin-top: 58px;
}

.opis6 {
    animation: slide-in-r cubic-bezier(0.57, 0.54, 0.54, 1.01) both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    font-family: 'Piazzolla', serif;
    width: 45%;
    float: right;
    font-weight: 600;
    padding: 0;
    font-size: 20px;
    margin: 0;
    height: 65%;
    margin-top: 58px;
}

.img4 {
    animation: slide-in-r cubic-bezier(0.57, 0.54, 0.54, 1.01) both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    position: relative;
    float: left;
    text-align: right;
    height: 400px;
    width: 40%;
    margin: 0;
    padding: 0;
}

.img4 img {
    position: absolute;
    margin-left: -310px;
    height: 400px;
    -webkit-box-shadow: 1px 0px 40px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 0px 40px -14px rgba(0, 0, 0, 1);
    box-shadow: 1px 0px 40px -14px rgba(0, 0, 0, 1);
}

.img5 {
    animation: slide-in cubic-bezier(0.57, 0.54, 0.54, 1.01) both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    position: relative;
    float: left;
    text-align: right;
    height: 400px;
    width: 40%;
    margin: 0;
    padding: 0;
}

.img5 img {
    position: absolute;
    margin-left: -600px;
    margin-top: -50px;
    height: 400px;
    -webkit-box-shadow: 1px 0px 40px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 0px 40px -14px rgba(0, 0, 0, 1);
    box-shadow: 1px 0px 40px -14px rgba(0, 0, 0, 1);
}

/* SEKCJA PIĄTA GALERIA */

@keyframes gal-animation {
    from {
        opacity: 0;
        filter: blur(10px);
    }

    to {
        opacity: 1;
        filter: blur(0px);
    }
}


.bgtitle5 {
    text-align: center;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    z-index: -1;
    width: 1000px;
    position: absolute;
    font-size: 165px;
    font-weight: 900;
    color: #e4e4cb;
}

.opisgal img {
    transition: 125ms;
}

.opisgal img:hover {
    transform: scale(110%);

}

.galeria {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 1250px;
    margin-top: 100px;
}

.titlegal {
    animation: gal-animation cubic-bezier(0.57, 0.54, 0.54, 1.01) both;
    animation-timeline: view(block);
    animation-range: entry 0% cover 47%;
    width: 100%;
    height: 10%;
    margin: 0;
}

.titlegal h1 {
    z-index: 5;
    font-size: 50px;
    width: 800px;
    font-family: 'Old Standard TT', serif;
    margin: 0;
    padding: 0;
    margin-left: 150px;
    margin-top: -15px;
}

.opisimggal {
    animation: gal-animation cubic-bezier(0.57, 0.54, 0.54, 1.01) both;
    animation-timeline: view(block);
    animation-range: entry 0% cover 42%;
}

.opisimggal img {

    float: left;
    margin: 0;
    padding: 0;
    height: 740px;
    margin-left: -70px;
    margin-top: 70px;
}

.opisgal {

    padding-left: 180px;
    width: 1000px;
    margin-top: 70px;
}

.opisgal img {
    animation: gal-animation cubic-bezier(0.57, 0.54, 0.54, 1.01) both;
    animation-timeline: view(block);
    animation-range: entry 0% cover 35%;
    height: 200px;
    margin: 0;
    padding: 0;
    box-shadow: -1px 1px 68px -5px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: -1px 1px 68px -5px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: -1px 1px 68px -5px rgba(0, 0, 0, 0.67);
}

.imgsec1 {

    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.imgsec2 {
    margin-left: 22px;
    margin-right: 3px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.ppagegal {
    font-family: 'Old Standard TT', serif;
    font-weight: 900;
    font-size: 3vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    color: #f5f5dc;
    height: 10vh;
    width: 5vh;
    padding-left: 8vh;
    top: 40vh;
    left: 15vw;
}

.ppagegalimg {
    position: fixed;
    width: 4vh;
    margin-left: 22vh;
    margin-top: 30vh;
}

/* Responsive media changes */

